/* ==========================================
= Ambitopia [red]
========================================== */

@import url(https://fonts.bunny.net/css?family=barlow:400,400i,500,500i,600,600i,700,700i);
@import url(https://fonts.bunny.net/css?family=space-mono:400,400i,700,700i);

:root {
    --ambitopia-primary-text: #e3e3e3;
    --ambitopia-accent: #f22613;
    --ambitopia-background: #030408;
    --ambitopia-background-secondary: #17181c;
    --ambitopia-background-tertiary: #2e2f32;
    --ambitopia-color-red: #c5003c;
    --ambitopia-color-orange: #f9690e;
    --ambitopia-color-green: #397979;
    --ambitopia-color-cyan: #55ead4;
    --ambitopia-color-blue: #385a8c;
    --ambitopia-color-purple: #a537fd;
    --ambitopia-syntax-red: #e61e5b;
    --ambitopia-syntax-orange: #fcad7b;
    --ambitopia-syntax-yellow: #fcd670;
    --ambitopia-syntax-green: #7ca893;
    --ambitopia-syntax-blue: #89b9e1;
    --ambitopia-syntax-purple: #cd8ffe;

    --input-bg: var(--ambitopia-background-secondary);
    --primary-hover: var(--ambitopia-accent);
    --result-item-title-border_hover: var(--ambitopia-accent);
    --nav_n_se_line: var(--ambitopia-accent);
    --related-item-bg: var(--ambitopia-background-secondary);

    --hover-bg: color-mix(in srgb, var(--ambitopia-background) 20%, transparent);
    --related-item-hover-bg: var(--ambitopia-background-tertiary);

    --warning: var(--ambitopia-color-orange) !important;
}
.doggo_sit_a {
    display:none;
}
body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.search-form .searchFormSubmitBtn {
font-family: "Space Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.theme_moon_dark {
    --m_sri_gap_color: var(--ambitopia-background);
    --kagi-accent: var(--ambitopia-background);
    --background-color: var(--ambitopia-background);
}
body, html, .app-header {
    background-color: var(--ambitopia-background);
}
.search-form .search-input-container {
    border: none;
    border-radius: 8px;
}
.search-form .search-input {
    padding-left: 16px;
}
.search-form .search-form-icons {
    padding-right: 10px;
}
body._0_auto-sug .search-input-container {
    border-radius: 8px 8px 0 0;
}
.search-form .auto_suggestions {
     border-radius: 0 0 8px 8px;
}
footer {
    background-color: unset;
}
.m-h .m-app-logo {
    display: none;
}
.__sri-title .__domain-favicon {
    border-radius: 50%;
}
.auto_suggestions, .auto_suggestions .auto_suggestions_in {
    border: none;
}
.search-form-icons .sfi_sep {
    display: none;
}
#quickSettingsOpenBtn > a:nth-child(1) {
    border: none;
}
#searchForm > div.search-input-container > div {
    border: none;
}
#searchFormSubmit {
    display: none;
}
#searchBar {
    padding-left: 4px;
}
#searchForm {
    margin-left: 0;
}
.logo {
    color: var(--ambitopia-accent);
}
input:where(:not([type=checkbox],[type=radio]))::placeholder,textarea::placeholder {
    color: transparent; 
    opacity: 1
}
#_0_lens_table_active .k_ui_toggle_switch .k_ui_toggle_switch_bar, 
.k_ui_toggle_switch input:checked~.k_ui_toggle_switch_bar, 
.k_ui_toggle_switch.--enabled .k_ui_toggle_switch_bar {
    background: var(--ambitopia-accent) !important;
    border-color: var(--ambitopia-accent) !important;
}
.serp-nav .nav_item.n_im:after {
    background-color: var(--ambitopia-color-blue) !important;
}
.serp-nav .nav_item.n_vi:after {
    background-color: var(--ambitopia-color-red) !important;
}
.serp-nav .nav_item.n_ne:after {
    background-color: var(--ambitopia-color-purple) !important;
}
.serp-nav .nav_item.n_ma:after {
    background-color: var(--ambitopia-color-green) !important;
}